name: Test Multilspy

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main, feat/* ]
  pull_request:

jobs:
  test:
    name: Test the package
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
    - name: Install gopls
      run: go install golang.org/x/tools/gopls@latest
    - name: Install ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4'
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
    - name: Set up .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '6.0.x'
    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: '18'
    - name: Set up Dart
      uses: dart-lang/setup-dart@v1
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Test with pytest
      run: |
        pip install pytest
        pytest tests/multilspy
